
#!/bin/bash
_now=$(date +"%m_%d_%Y")
_file="/tmp/backup_$_now.sql"
echo "Starting backup to $_file..."
docker-compose exec postgres pg_dump -d DATABASE_NAME -U USERNAME -W -f "$_file"
docker cp prequelmemes_bot_postgres_1:"$_file" .
